


<h2> List of the rating </h2>

 <ul>
  <% @ratings.each do |rating| %>
    <li> <%= rating.beer.name%> <%= rating.score%>
    <%= button_to 'delete', rating_path(rating.id), method: :delete, form: { data: { turbo_confirm: 'Are you sure want to delete?' } } %>
     <%= #link_to rating.user.username, User%>
  <% end %>
</ul>

