

<h2> List of the rating <%= @ratings.count %> </h2>

 <ul>
  <% @ratings.each do |rating| %>   
    <li> <%= rating.beer.name%> <%= rating.score%>  
    <%= button_to 'delete', rating_path(rating.id), method: :delete, form: { data: { turbo_confirm: 'Are you sure want to delete?' } } %> 
  <% end %>
</ul>
 